{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title> reddet </title>
        <link rel="stylesheet" href="{% static 'sandbox/css/stylesheet.css' %}">
        <script src="{% static 'sandbox/script/head.js' %}"></script>
    </head>
    <body>
        <div id="header">
            <span id="banner"> reddet </span>
        </div>
        
        <div id="contain">
            {% block board  %}
            {% endblock  %}
        </div>
    <div id="footer"><span id="myContact">trevor-simms@outlook.com</span><span id="footerDate"></span></div>
    
    </body>
    <script type="text/javascript" src="{% static 'sandbox/script/main.js' %}"></script> 
</html>