{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'sandbox/css/stylesheet.css' %}">
        <script type="text/javascript" src="{% static 'sandbox/script/main.js' %}" defer></script> 
    </head>
    <body id="boody">
        <div id="header">
            <span id="banner"> reddet </span>
        </div>

        <!-- TODO: Fix layout for the Galaxy Fold,
                or for widths less than 305px. 
        -->
        <div id="contain">
            {% block board  %}
            {% endblock  %}
        </div>
    <div id="footer">
        <span class='footerspan'>trevor-simms@outlook.com</span><span id="footerDate" class='footerspan faright'></span>
    </div>
    
    </body>
</html>